@model WhiteBeltCodeBlog.Models.BlogPost
@using WhiteBeltCodeBlog.Services.Interfaces
@using WhiteBeltCodeBlog.Services

@using Microsoft.AspNetCore.Identity
@inject IImageService imageService

@inject SignInManager<BlogUser> _SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Abstract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)        
        </dd>
        <dd>
            @if (Model.ImageData != null)
            {
                <img src="@imageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!)" class="square-img rounded-start" style="height: 120px; width: 120px" alt="...">
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @foreach (Tag tag in Model.Tags)
            {
                <p>@tag.Name</p>
            }
        </dd>

    </dl>

    <label>Tags</label>
    @foreach (Tag tag in Model.Tags)
    {
        <p>@tag.Name</p>
    }

    <div class="row">
        <div class="col-6">
            @*Display Tags*@
            <label>@Model.Comments.Count Comments</label>
            @foreach (Comment comment in Model.Comments)
            {
                <div class="border border-dark border-2 p-3">
                    <p><strong>@comment.Author.FullName</strong></p>
                    <p>@comment.Body</p>

                    <p>@comment.Created.ToString("MM-dd-yy hh:mm:ss tt")</p>
                </div>
            }
        </div>
    </div>


    @if (_SignInManager.IsSignedIn(User))
    {
        <form asp-controller="Comments" asp-action="Create" method="post">
            <input type="hidden" asp-for="Id" name="BlogPostId" />
            <input type="hidden" asp-for="Slug" />
            <div class="form-group">
                <label name="Body" class="control-label"></label>
                <textarea name="Body" class="form-control" rows="7"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    }
    else
    {
        <p>
            <a class="btn btn-info" asp-area="Identity" asp-route-returnUrl="@Url.Action("Details","BlogPosts", new {Model.Slug})" asp-page="/Account/Login">Log in to make a comment.</a>
        </p>
    }


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
